.highlighted-text {
    background-color: #FFECA6;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.highlighted-text:hover {
    background-color: #FFD700;
    transform: scale(1.05);
}

$color-primary-darker: #0f2664;
$color-primary-dark: #00258e;
$color-primary-light-dark: #173585;
$color-primary: #3559b2;
$color-primary-light: #6786cc;
$color-primary-lighter: #9bb3e6;

// _mixins.scss
@mixin arrow($position: 'bottom') {
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @if $position =='bottom' {
            bottom: -10px;
            border-width: 6px;
            border-style: solid;
            border-color: #ccc transparent transparent transparent;
        }

        @else if $position =='top' {
            top: -10px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent #ccc transparent;
        }
    }
}


.connector {
    width: 3px;
    height: 30px; // 调整线条的高度
    background-color: #ccc;
    margin: 1px 0;
    align-self: center;
    position: relative; // 为伪元素定位做准备

    // Mixin 用于添加箭头
    @mixin arrow($position: 'bottom') {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @if $position =='bottom' {
                bottom: -10px;
                border-width: 6px;
                border-style: solid;
                border-color: #ccc transparent transparent transparent;
            }

            @else if $position =='top' {
                top: -10px;
                border-width: 6px;
                border-style: solid;
                border-color: transparent transparent #ccc transparent;
            }
        }
    }
}

// 使用时选择箭头的位置
.connector-bottom {
    @include arrow('bottom');
}

.connector-top {
    @include arrow('top');
}